body{
  font-family: 'Graffiti';
  background-color: lightgrey;

}
/* @font-face {
font-family: "Graffiti";
src:url("css/fonts/MARSNEVENEKSK-Regular.otf") format("opentype");
} */
#head{
  width: 100%;
  height:500px;
}
h1{
  font-size: 150px;
  font-family: 'Graffiti' serif;
  color: black;
  margin-left: 20%;
  margin-top: -20%;
  margin-bottom: 10%;

}
h1:hover{
  color: white;
  border-style: solid;
  box-shadow: 0 0 6px 6px #F2F2F2;
}
